body {
  background-color: hsl(0, 0%, 100%);
  margin:0px;
  font-family: 'Spartan', sans-serif;
}
.back-img-top {
  position: absolute;

}
.back-img-bottom {
  position: absolute;
  left:350px;
  bottom:10px;
}
.adv-box {
  width:400px;
  height:200px;
  position:relative;
  left:150px;
  bottom:250px;
}
.adv-box h1 {
  color:hsl(300, 43%, 22%);
  font-family: 'Spartan', sans-serif;
  font-size: 40px;
}
.adv-box p {
  color: hsl(303, 10%, 53%);
  font-family: 'Spartan', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

.rating-one {
  font-family: 'Spartan', sans-serif;
  position:relative;
  bottom:450px;
  left:825px;
  width: 350px;
  height:50px;
  background-color: hsl(300, 24%, 96%);
  color:hsl(300, 43%, 22%);
  border-radius: 13px;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
  font-size: 13px;
}

.rating-two {
  font-family: 'Spartan', sans-serif;
  position:relative;
  bottom:430px;
  left:925px;
  width: 350px;
  height:50px;
  background-color: hsl(300, 24%, 96%);
  color:hsl(300, 43%, 22%);
  border-radius: 13px;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
  font-size: 13px;
}

.rating-three {
  font-family: 'Spartan', sans-serif;
  position:relative;
  bottom:410px;
  left:1025px;
  width: 350px;
  height:50px;
  background-color: hsl(300, 24%, 96%);
  color:hsl(300, 43%, 22%);
  border-radius: 13px;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
  font-size: 13px;
}

.card-layout {
  width: 300px;
  height: 200px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 13px;
  position: relative;
  left:150px;
  bottom:350px;
}

.card-layout img {
  border-radius: 50%;
  width:30px;
  height:30px;
  position:relative;
  top:30px;
  left:30px;

}
.card-layout .name {
  position:relative;
  left:100px;
  bottom:15px;
  color:hsl(300, 24%, 96%)
}

.card-layout .job {
  position:relative;
  left:100px;
  bottom:25px;
  color:hsl(333, 80%, 67%);
  font-size: 10px;
}

.card-layout .description {
  width:230px;
  height:200px;
  color:hsl(300, 24%, 96%);
  font-size: 10px;
  padding-left: 30px;
}

#postion1 {
  postion:relative;
  left:575px;
  bottom:500px;
}

#postion2 {
  position: relative;
  left:1000px;
  bottom:650px;
}


@media only screen and (max-width: 375px) {

  .back-img-bottom {
    position: absolute;
    left:350px;
    bottom:-1900px;
  }

  .adv-box {
    width:400px;
    height:200px;
    position:relative;
    left:450px;
    bottom:250px;
  }

  .rating-one {
    postion:static;
    left:450px;
    bottom: 150px;
  }

  .rating-two {
    postion:static;
    left:450px;
    bottom: 100px;
  }

  .rating-three {
    postion:static;
    left:450px;
    bottom: 50px;
  }

  .card-layout {
    position: relative;
    left:450px;
    bottom:0px;
    top:100px;
  }

  #postion1 {
    position:relative;
    top:200px;
    left:450px;
  }

  #postion2 {
    postion:relative;
    top:320px;
    left:450px;


  }

}
